.separator {
  width: 100%;
  height: 1px;

  // background: $color-black;
  // background: $color-color-grey-85;
  background: $color-color-grey-c-5;

  margin-top: $uni-space-2;
  margin-bottom: $uni-space-2;

  &.separator--margin-no {
    margin: 0;
  }
  
}