.filter-bar {
  width: 100%; 
  height: $header-dashboard-height-sm;
  // height: 100%;

  // background: #f6f6f6;
  background: #f7f7f7;
  // border-bottom: 1px solid #e4e4e4;

  @include center();
  justify-content: space-between;

  padding: $uni-space-1;

  @media screen and (min-width: $breakp-md) {
    // height: $header-dashboard-height-md;
    // padding: $uni-space-2;
  }

  // .header--dashboard__block {
  //   display: flex;
  //   align-items: center;
  //   grid-column-gap: $uni-space-1;
  // }

  // &.collapsed {
  //   // width: 64px;
  // }
}

// Theme
body {
  &.body--dark {
    .filter-bar {
      background: #1f1f1f;
      border-bottom: 1px solid #505050;
    }
  }
}