.label-toggle {
  border-radius: 100px;
  padding: 6px 16px;
  line-height: 12px;

  background: #dadada;
  
  color: $color-black;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
  white-space: nowrap;

  font-size: 0.75rem;

  @include center();

  @extend %button-behavior;

  &.label-toggle--medium {
    font-size: 1rem;
    padding: 10px 18px;
  }
}

// Theme
body {
  &.body--dark {
    .label-toggle {
      background: #464e54;
      color: #f8f8f8;
    }
  }
}