.card {

  &.card--outer {
    min-width: 200px;
    max-width: 300px;
    padding: 16px;
    border-radius: 2px;
    
    // background: #eaeaea;
    background: #f5f5f5;
    border: 1px solid #dddddd;

    transition: all 0.25s ease;
  }

  &:hover {
    -webkit-box-shadow: 0px 4px 9px -3px rgba(0,0,0,0.45); 
    box-shadow: 0px 4px 9px -3px rgba(0,0,0,0.45);
  }

  .card--inner {

    .image-thumbnail {
      min-width: 100%;
      max-width: 100%;
      object-fit: cover;
      height: 150px;
    }

    .card__text {
      color: $color-black;
      &.card__text__label {
        color: $color-grey-text !important;
      }
      &.card__text__title {
        margin-bottom: 0;
      }
      &.card__text__description {
  
      }
    }
  }
}

// Theme
body {
  &.body--dark {
    .card--outer {
      background: #202020;
      border: 1px solid #4a4a4a;
      
      .card--inner {
        .card__text {
          color: $color-white;
        }
      }
    }
  }
}