$transition-time-header: 0.2s;

.header {

  background: $color-white;

  width: 100%;
  height: $header-height;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  color: $color-white;

  z-index: 2;
  // position: sticky;
  position: fixed;

  top: 0;

  transition: all $transition-time-header ease-in-out;

  // padding: 48px 82px 48px 82px;
  padding: 0 82px;

  &.header-shrunk {
    // background: red;
    // height: 50px !important;

    // .back-link {
    //   top: -1rem;
    // }

    h2 {
      // transform: scale(0.5);
      font-size: 1rem;
    }

    .column--two {
      // transform: translateY(-40px);
      opacity: 0;
    }
  }

  h2 {
    font-size: 2rem;
    transition: all $transition-time-header ease;
  }

  .header__inner {
    width: 100%;
    // max-width: 1200px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    position: relative;

    @media screen and (max-width: $breakpoint-md) {
      // flex-direction: column;

      padding-left: $uni-space-1;
      padding-right: $uni-space-1;
    }

    .header_inner__block {
      width: 100%;
      // height: 100%;
      padding-bottom: 0.5rem;

      display: flex;
      align-items: flex-start;
      // justify-content: cent  er;

      grid-column-gap: $uni-space-1;

      // transition: all $transition-time-header ease-in-out;

      &.header_inner__block--two {
        //
        justify-content: flex-end;
      }
    }
  }
  
}

h2, p {
  margin: 0;
}

body {
  &.body--night {
    background: $color-black;
  }
}

// .header { background: rgba(255, 0, 0, 0.2);}
// .header__inner { background: rgba(255, 0, 0, 0.4);}