a {
  // color: inherit;
  text-decoration: none;
}

.link {
  cursor: pointer;

  color: $color-color-grey-45;

  opacity: 0.65;

  transition: opacity 0.2s ease-in-out;

  &:hover {
    opacity: 1;
  }
}

.back-link {
  width: 24px;
  height: 24px;
  position: absolute;
  left: -4rem;
  // top: 1rem;
  top: 0;

  @media screen and (max-width: $breakpoint-md) {
    top: -2rem;
    left: $uni-space-1;
  }

  // background: red;
  background: url(../public/icons/icon-arrow-left.svg) no-repeat;
}