.text-bold {
  font-weight: bold;
}

p, h1, h2, h3, h4, h5, h6,
a, span, label {
  color: $color-black;
}

.section-title {
  width: 100%;
  text-align: center;
  // text-align: left;
}

body {
  &.body--night {
    p, h1, h2, h3, h4, h5, h6 {
      color: $color-black;
    }
  }
}

h1 {
  @include text-style-font-base-h-1;
}