$breakp-xs: 480px;
$breakp-sm: 576px;
$breakp-md: 768px;
$breakp-lg: 992px;
$breakp-xl: 1200px;
$breakp-xxl: 1600px;

$max-width: 1200px;

$uni-space-1: 16px;
$uni-space-1-5: 24px;
$uni-space-2: $uni-space-1 * 2;

// Width and heights
// $header-height: 256px;
$header-height: 72px;

$color-white: #f8f8f8;
$color-black: #151515;

$color-violet-blue: #524FF2;

$color-grey-text: #808080;

// Typography
$font-size-sm: 0.75rem;

// Dimensions, Heights
$sidebar-dashboard-width-sm: 100px;
$sidebar-dashboard-width-md: 300px;

$header-dashboard-height-sm: 64px;
$header-dashboard-height-md: 80px;

$footer-dashboard-height-sm: 80px;
$footer-dashboard-height-md: 100px;

$ease-time: 0.2s;